@import "tailwindcss";

/* Floating text animation for clicker  */
@keyframes float-up {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  50% {
    opacity: 0.8;
    transform: translateY(-40px) scale(1.1);
  }
  100% {
    opacity: 0;
    transform: translateY(-80px) scale(0.9);
  }
}

.animate-float-up {
  animation: float-up 1s ease-out forwards;
}

/* ===== Hide Scrollbar Globally ===== */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}